{
  "presets": ["env"],
  "plugins": [
    ["transform-object-rest-spread"],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@/util": "./src/util",
          "@/middlewares": "./src/middlewares",
          "@/mutation": "./src/resolvers/Mutation",
          "@/query": "./src/resolvers/Query"
        }
      }
    ]
  ]
}
